################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Enterprise.Management.Internal/v15/Server/sqlite3
